<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Telma - Tarot Destin</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<header>

    <header>

    <img src="{{ url_for('static', filename='image/banniere_tarot.png') }}"
         alt="Telma - Tarot Destin"
         class="banniere">

</header>

</header>

<nav class="navbar">
    <a href="/">Accueil</a>
    <a href="/services">Consultations</a>
    <a href="/contact">Contact</a>
    <a href="/panier">Panier</a>
</nav>

<main>

{% block content %}

{% endblock %}

</main>


<footer>

    © 2026 Telma - Tarot Destin · Tous droits réservés.

</footer>

</body>

</html>
