{% extends "base.html" %}

{% block content %}

<h1>Contact</h1>

<p class="slogan">
Une question ? Besoin d'un renseignement ? Je reste à votre disposition.
</p>

<div class="grille-cartes">

    <div class="carte-premium">

        <h2>Après votre paiement</h2>

        <p>

            Afin de pouvoir réaliser votre consultation,
            merci de transmettre les informations
            correspondant à votre commande.

        </p>

        <hr>

        <p>

            <strong>Tirage simple (30 €)</strong>

            <br><br>

            ✔ 3 numéros entre 1 et 52

            <br>

            ✔ 1 question précise

        </p>

        <hr>

        <p>

            <strong>Tirage complet (50 €)</strong>

            <br><br>

            ✔ 7 numéros entre 1 et 52

            <br>

            ✔ 1 question précise

        </p>

        <hr>

        <p>

            <strong>Pendule (30 €)</strong>

            <br><br>

            ✔ Jusqu'à 3 questions précises

        </p>

    </div>



    <div class="carte-premium">

        <h2>Important</h2>

        <p>

            Merci d'indiquer dans votre e-mail :

        </p>

        <ul>

            <li>Votre nom</li>

            <li>Le type de consultation commandée</li>

            <li>Vos numéros (si nécessaire)</li>

            <li>Votre ou vos questions</li>

        </ul>

        <br>

        <p>

            Votre consultation sera réalisée dès réception
            de votre paiement et des informations demandées.

        </p>

    </div>

</div>


{% endblock %}



