{% extends "base.html" %}

{% block content %}

<h1>Retours clients</h1>

<p class="slogan">
Quelques retours parmi plus de <strong>650 clients satisfaits</strong>.
</p>

<div class="carte-premium">

    <h2>Merci pour votre confiance</h2>

    <p style="text-align:center;">

        Depuis plusieurs années, des centaines de personnes
        m'ont accordé leur confiance.

        <br><br>

        Les témoignages ci-dessous ne représentent
        qu'une petite partie des nombreux retours reçus.

    </p>

</div>

<div class="galerie-clients">

    <img src="{{ url_for('static', filename='image/client1.png') }}" alt="Client 1">

    <img src="{{ url_for('static', filename='image/client2.png') }}" alt="Client 2">

    <img src="{{ url_for('static', filename='image/client3.png') }}" alt="Client 3">

    <img src="{{ url_for('static', filename='image/client4.png') }}" alt="Client 4">

    <img src="{{ url_for('static', filename='image/client5.png') }}" alt="Client 5">

    <img src="{{ url_for('static', filename='image/client6.png') }}" alt="Client 6">

</div>

<div class="carte-premium">

    <h2>À votre tour…</h2>

    <p style="text-align:center;">

        Chaque consultation est réalisée avec sérieux,
        discrétion et bienveillance.

        <br><br>

        Si vous souhaitez obtenir un éclairage sur votre situation,
        je serai heureuse de vous accompagner.

    </p>

</div>


{% endblock %}
